body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
    color: white;
}
h1 {
    letter-spacing: 20px;
    font-family: fantasy;
    font-size: 50vh;
}
